/* Your styles here */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;
  color: #25a2c3;
  line-height: 1.5;
}
body {
  font-family: OpenSans;
  font-size: 1.2rem;
  line-height: 1.65;
  color: #393d41;
}
header div {
  background-color: black;
  padding: 30px;
}
header div img {
  height: 40px;
  vertical-align: middle;
}

#banner {
  height: 300px;
  background-image: url(../images/banner.jpg);
  background-position: center;
  text-align: center;
  vertical-align: middle;
  padding-block: 40px;
}

#banner h1 {
  line-height: 1em;
  padding-top: 50px;
  font-size: xx-large;
}
#banner p {
  text-align: center;
  padding: 20px;
}

input {
  padding: 15px;
  color: white;
  background-color: #f04c2f;
  font-family: Montserrat;
  font-weight: bold;
  border-style: none;
  border-radius: 4px;
}

main {
  margin: 40px;
  vertical-align: middle;
}

.content {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: right;
  margin-right: -4px;
  padding-block: 20px;
  vertical-align: middle;
}

main div img {
  width: 80%;
  border-radius: 50%;
}
.main {
  padding-inline: 30px;
  padding-block: 20px;
}
main div {
  text-align: left;
}

blockquote {
  background-color: #f04c2f;
  color: white;
  padding-block: 50px;
  padding-inline: 30px;
  text-align: center;
}

blockquote h2 {
  margin-block: 20px;
  font-size: 2em;
  color: inherit;
}
blockquote p {
  padding-block: 20px;
  font-style: italic;
}
blockquote h3 {
  color: inherit;
  font-weight: normal;
}
blockquote h6 {
  color: inherit;
  font-weight: lighter;
  font-size: x-small;
}

section {
  margin-block: 45px;
  padding: 50px;
  display: inline-block;
  text-align: center;
}
.article {
  display: inline-block;
  text-align: center;
  margin-inline: 37px;
  margin-right: -4px;
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #dee1e3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.article img {
  width: 100%;
}

.didascalia {
  height: 30%;
}
footer {
  background-color: #25a2c3;
  color: #c8e7f0;
  padding: 50px;
  text-align: center;
}

footer h2 {
  color: white;
  font-size: 2em;
}
footer a {
  color: #c8e7f0;
}

footer ul {
  padding: 20px;
  list-style: none;
  text-align: center;
}

hr {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  color: #c8e7f0;
}

footer p {
  padding: 20px;
}
