/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,700;1,700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-weight: bold;
}
body {
  font-family: OpenSans;
}
header div {
  background-color: black;
  text-align: center;
}
header div img {
  padding: 30px;
  width: 100px;
}
banner {
  background-color: lightgrey;
  min-height: 30em;
  background-image: url(../images/banner.jpg);
  text-align: center;
}
.main {
}
main div img {
  border-radius: 50%;
}
